* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
/* General styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
}

/* Header */
header.header {
	background-color: #d4e7c5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 2rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header__title {
	font-size: 2rem;
	margin: 0;
}

.header__menu {
	display: none;
	font-size: 1.5rem;
	cursor: pointer;
	color: #333;
}
nav.nav {
	display: flex;
	flex-direction: row;
}
nav.nav ul.nav__list {
	display: flex;
	flex-direction: row;
	gap: 20px 20px;
}
nav.nav ul.nav__list li.nav__item {
	list-style-type: none;
	color: aqua;
}
nav.nav ul.nav__list li.nav__item a {
	text-decoration: none;
	color: #616161;
}

nav.nav ul.nav__list li.nav__item a:hover {
	text-decoration: underline;
	color: #000;
}

#drawer.active {
	display: block;
}

/* Hero */
div.hero {
	background-image: url('../public/images/heros/hero-image_2.jpg');
	background-position: center;
	width: 100%;
	min-height: 400px;

	display: flex;
	align-items: center;
	text-align: center;
	filter: drop-shadow(0px 2px 100px #e1f0da);
}

.hero__inner {
	margin: 0 auto;
	max-width: 800px;
}

.hero__title {
	color: #fff;
	font-weight: 500;
	font-size: 36px;
}

.hero__tagline {
	color: #fff;
	margin-top: 16px;
	font-size: 18px;
	font-weight: 300;
}

/* Main */
main {
	padding: 2rem;
	background-color: #99bc85;
}
div.content {
	padding: 32px;
}
div.content h1.content__label {
	font-size: 32px;
	font-weight: lighter;
	text-align: center;
}
.card-list {
	margin-block: 1rem;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	column-gap: 2%;
	row-gap: 24px;
}

article {
	margin-bottom: 1rem;
	padding: 1rem;
	border: 1px solid #ddd;
	border-radius: 5px;
}

/* Footer */
footer {
	background-color: #f5f5f5;
	text-align: center;
	padding: 1rem;
}
