<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Website restaurant apps ini dibuat dengan menerapkan custom elemen dan aksesibilitas" />
		<link rel="icon" href="./favicon.png">
		<title>Restaurant Apps</title>
	</head>
	<body>
		<a tabindex="0" href="#maincontent" class="skip-link">Skip To Content</a>
		<!-- navbar -->
		<header class="header">
			<div class="header__inner">
				<h1 tabindex="0" class="header__title">Resto Apps</h1>
			</div>
			<a tabindex="0" id="menu" class="header__menu">☰</a>
			<nav id="drawer" class="nav">
				<ul class="nav__list">
					<li class="nav__item"><a tabindex="0" href="/index.html">Home</a></li>
					<li class="nav__item"><a tabindex="0" href="#/favorite">Favorite</a></li>
					<li class="nav__item"><a tabindex="0" href="#/api-page">Rest</a></li>
					<li class="nav__item"><a tabindex="0" href="https://www.linkedin.com/in/ardianugerahwicaksana/">About Me</a></li>

				</ul>
			</nav>
		</header>

		<!-- hero -->
		<div class="hero"></div>
		<main>
			<div id="maincontent" class="content">
				<h1 tabindex="0" class="content__label">Daftar Resto</h1>
				<!-- ini adalah list -->
				<div class="card-list">
					<!-- ini adalah item -->
					<restaurant-list></restaurant-list>
				</div>
			</div>
		</main>
		<footer>Copyright © 2024 - Resto Apps</footer>
	</body>
</html>
<!-- project 1 accepted -->
