<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restaurant Apps</title>
	</head>
	<body>
		<!-- navbar -->
		<header class="header">
			<div class="header__inner">
				<h1 class="header__title">Resto Apps</h1>
			</div>
			<a id="menu" class="header__menu">☰</a>
			<nav id="drawer" class="nav">
				<ul class="nav__list">
					<li class="nav__item"><a href="/index.html">Home</a></li>
					<li class="nav__item"><a href="#">Favorite</a></li>
					<li class="nav__item"><a href="https://www.linkedin.com/in/ardianugerahwicaksana/">About Us</a></li>
				</ul>
			</nav>
		</header>

		<!-- hero -->
		<div class="hero">
			<div class="hero__inner">
				<h1 class="hero__title">Bangun Karirmu Sebagai Developer Profesional</h1>
				<p class="hero__tagline">Jadilah tuan rumah di negeri sendiri dengan belajar langsung dari para inovator dan developer expert</p>
			</div>
		</div>
		<main>
			<!-- <div class="card-container">
				<div class="card">
					<div class="card-header">
						<div class="card-city">Malang</div>
						<div class="card-rating">4.8</div>
					</div>
					<div class="card-body">
						<h3>Restoran Sederhana</h3>
						<p>Menawarkan hidangan Indonesia otentik dengan suasana pedesaan yang nyaman.</p>
					</div>
				</div>
			</div> -->
			<div class="content">
				<h1 class="content__label">Daftar Resto</h1>
				<restaurant-list></restaurant-list>

				<article>art1</article>
				<article>art2</article>
				<article>art3</article>
			</div>
		</main>
		<footer>Copyright © 2024 - Resto Apps</footer>
	</body>
</html>
