<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restaurant Apps</title>
	</head>
	<body>
		<a href="#maincontent" class="skip-link">Skip To Content</a>
		<!-- navbar -->
		<header class="header">
			<div class="header__inner">
				<h1 tabindex="0" class="header__title">Resto Apps</h1>
			</div>
			<a tabindex="0" id="menu" class="header__menu">☰</a>
			<nav id="drawer" class="nav">
				<ul class="nav__list">
					<li class="nav__item"><a tabindex="0" href="/index.html">Home</a></li>
					<li class="nav__item"><a tabindex="0" href="#">Favorite</a></li>
					<li class="nav__item"><a tabindex="0" href="https://www.linkedin.com/in/ardianugerahwicaksana/">About Us</a></li>
				</ul>
			</nav>
		</header>

		<!-- hero -->
		<div class="hero">
			<div class="hero__inner">
				<h1 class="hero__title">Bangun Karirmu Sebagai Developer Profesional</h1>
				<p class="hero__tagline">Jadilah tuan rumah di negeri sendiri dengan belajar langsung dari para inovator dan developer expert</p>
			</div>
		</div>
		<main>
			<div id="maincontent" class="content">
				<h1 class="content__label">Daftar Resto</h1>
				<!-- ini adalah list -->
				<div class="card-list">
					<!-- ini adalah item -->
					<restaurant-list></restaurant-list>
				</div>
			</div>
		</main>
		<footer>Copyright © 2024 - Resto Apps</footer>
	</body>
</html>
